<div xmlns:ng="http://angularjs.org/" class="manage">
	<table class="definitions table" ng:table="table"
		template-pagination="nopager" data-show-filter="false">
		<tr ng:repeat="row in $data">
			<td data-title="'Odbiorca'" data-filter="{'dlaKogo' : 'text'}"
				data-header-class="col2" class="col2">{{row.dlaKogo}}</td>
			<td data-title="'Termin dostawy'"
				data-filter="{'terminDostawy' : 'date'}" data-header-class="col3"
				class="col3">{{row.terminDostawy | date : config.dateFormat}}</td>
			<td data-title="'komentarz'" data-filter="{'komentarz' : 'text'}"
				data-header-class="col4" class="col4">{{row.komentarz}}</td>
			<td data-title="'Typ dostawy'" data-filter="{'typDostawy' : 'text'}"
				data-header-class="col5" class="col5">{{row.typDostawy}}</td>
			<td data-title="'Cena'" data-filter="{'cena' : 'number'}"
				data-header-class="col6" class="col6">{{row.cena}}</td>
			<td data-title="'liczbaProduktow'"
				data-filter="{'liczbaProduktow' : 'number'}"
				data-header-class="col7" class="col7">{{row.liczbaProduktow}}</td>
		</tr>
	</table>
</div>
<div>
	<button ng-click="add()" type="button" class="btn btn-sm btn-success">Nowe
		zamowienie</button>
</div>