<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org/" xmlns:ui="http://angularjs.org/ui">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link
  href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700,700italic&subset=latin,latin-ext'
  rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="webjars/bootstrap/${bootstrap.release}/css/bootstrap.css" />
<link rel="stylesheet" href="webjars/ng-table/${ng-table.release}/ng-table.css" />
<link rel="stylesheet" href="webjars/font-awesome/${font-awesome.release}/css/font-awesome.css" />
<link rel="stylesheet"
  href="webjars/jquery-file-upload/${jquery-file-upload.release}/css/jquery.fileupload.css" />
<link rel="stylesheet" href="webjars/nvd3/${nvd3.release}/nv.d3.css" />
<link rel="stylesheet" href="css/style.css" />
<script type="text/javascript" src="webjars/requirejs/${requirejs.release}/require.js"
  data-main="js/main.js"></script>
</head>
<body>
  <div id="wrap">
    <div id="main" class="container">
      <div class="row">
        <div class="col-md-12">
          <nav class="navbar navbar-default" role="navigation" ng:init="navCollapsed = true">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle"
                  ng:click="navCollapsed = !navCollapsed">
                  <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Projopro</a>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" ng:class="{'in' : !navCollapsed}" ng:include="'html/menu.html'"></div>
              <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
          </nav>

        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default hidden" ng:class="{'hidden' : !showMainPanel}">
            <div class="panel-heading">
              <b>{{state.current.data.label}}</b>
            </div>
            <div class="panel-body" ui:view=""></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer" class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <span>&copy; Zespół 2, 2014</span> <span class="pull-right">Version 1.0.0</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
