/* angular-ui-boostrap empty href fix */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

/* GENERAL */
html, body {
    height: 100%;
    background-color:#f4f4f4;
    
    font-family: Open sans;
    font-size: 13px;
    line-height: 1.65;
}

.panel {
    border:none;
    box-shadow:none;
}

.dropdown-menu {
    font-size:1em;
    border:none;
}

.glyphicon {font-size:12px;}

/* NAVBAR */
.navbar-default {
    border:none;
    background-color:#fff;  
}

/* NAVBAR - BRAND */
.navbar-default .navbar-brand {
    background:url(../images/bg_brand.png) no-repeat 0 0 transparent;
    transition: all 0.5s ease;
    padding-left:20px; padding-right:60px;
    
    font-size:19px;
    font-weight:300;
    color:#fff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand:focus {
    color:#fff;
}

/* NAVBAR - MENU */
.navbar-default .nav > li > a {
    padding-left:20px;
    padding-right:20px;
}
.navbar-default .nav > li .caret {
    margin-left:10px;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    background-color:transparent;
    color:#3ac8a9;
    outline:none;
}

/* NAVBAR - AUTH */
.nav .auth {
    font-weight: bold;
    color : #3ac8a9;
}

/* FOOTER */
#footer {
    /*position: relative;
    margin-top: -90px;
    height: 90px;
    clear: both;
    padding-top: 20px;*/
    
}

/* PANEL */
.panel-default > .panel-heading {
    background-color: #fff;
    border-bottom: 3px solid #3ac8a9;
    color: #3ac8a9;
    font-size: 17px;
    margin: 0 15px;
    padding: 30px 0 13px;
    text-transform: uppercase;
    font-weight:700;
}
.panel-default .panel .panel-heading {
    border-bottom:3px solid #ccc;
    color:#ccc;
    font-size: 17px;
    text-transform: uppercase;
    background-color:transparent;
    font-weight:700;
}

/* PANEL FORM */
.panel-body form,
.panel-body [role="form"] {padding:15px;}
.panel-body .panel-body form,
.panel-body .panel-body [role="form"] {padding:0;}

.panel-body form h4 {
    background:url("../images/bg_lines.gif") repeat scroll 0 0 transparent;
    padding:15px;
    margin:20px -15px;
}

.form-group label {vertical-align:top;}

.form-group.has-success .help-block,
.form-group.has-success .control-label, 
.form-group.has-success .radio, 
.form-group.has-success .checkbox, 
.form-group.has-success .radio-inline, 
.form-group.has-success .checkbox-inline {
    color: #333;
}

.form-group.has-success .form-control {
    border-color:#ccc;
}
.form-group.has-success .form-control:focus {
    box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #3ac8a9;
}

.form-group.has-error .help-block {color:#c8563a; font-size:0.85em;} 
.form-group.has-error .control-label, 
.form-group.has-error .radio, 
.form-group.has-error .checkbox, 
.form-group.has-error .radio-inline, 
.form-group.has-error .checkbox-inline {
    color: #333;
}
.form-group.has-error label + div {
    background-color:#F5E4DF;
    padding:3px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
}
.form-group.has-error .form-control {
    border-color:#DCA2A0;
}

@media all and (min-width:768px) {
    .form-group {clear:both; overflow:hidden; padding:6px; margin-bottom:10px;}
    .form-group > label {float:left; width:20%;}
    .form-group > div {float:right; width:78%;}
}

.form-inline .form-group label {
    float : none;
    width : auto;
    vertical-align: middle;
    margin-right: 5px;
}


/* TABLE */
table th.operations {
    background:url(../images/bg_ribbon.png) no-repeat 0 0 transparent;
    color:#fff;
}
.table > thead > tr > th {border-bottom:none; border-top:none;}

.table > caption + thead > tr:first-child > th, 
.table > colgroup + thead > tr:first-child > th, 
.table > thead:first-child > tr:first-child > th, 
.table > caption + thead > tr:first-child > td, 
.table > colgroup + thead > tr:first-child > td, 
.table > thead:first-child > tr:first-child > td {
    border-top: 0 none;
    font-family: arial;
    font-size: 10px;
    font-weight: normal;
    text-transform: uppercase;
}
.ng-table th.header {text-align:left;}
.ng-table th.header.operations {text-align:center;}

.ng-table th.sortable.sort-desc, 
.ng-table th.sortable.sort-asc {
    background-color: transparent;
    text-shadow: none;
    color: #3ac8a9;
}

.table > thead > tr.ng-table-filters {
    background:url(../images/bg_lines.gif) repeat 0 0 transparent;  
}
.table > thead > tr.ng-table-filters th {
    border-color:transparent;
}

.table > tbody > tr:first-child td {border-top:none; padding-top:20px;}
.campaign-config .table > tbody > tr:first-child td {padding-top:8px;}

.campaign-config .table tr.bg-info {background-color:#d3f2ec;}

.table.segment-variables > thead > tr + tr {
    background:url(../images/bg_lines.gif) repeat 0 0 transparent;  
}
.table.segment-variables > thead > tr td {border-top:none;}

.manage .table.multistage {margin-bottom:20px;}
.table.multistage td.campaign {
    border-left:1px solid #e6c374;
}
.table.multistage td.campaign:first-child {border-left:none;}

.table.multistage > tbody > tr > td {
    border-top-color:#e6c374;
    vertical-align:middle;
}
.table.multistage > thead > tr > th {
    text-align: left;
}
.table.multistage > thead > tr > th.operations,
.table.multistage > tbody > tr > td.operations {
    vertical-align:middle;
    text-align:center;
    width:15%;
}
.table > tbody > tr.main td {padding-top:8px; border-top:3px solid #e6c374;}
.table.multistage > tbody > tr:last-child > td {border-bottom:3px solid #e6c374;}
.table.multistage > tbody > tr > td.bottom {border-bottom:3px solid #e6c374;}

.table.multistage td span.code {line-height:29px; vertical-align:middle;}

.table.multistage .col1 {
    width: 20%;
}
.table.multistage .col2 {
    width: 20%;
}
.table.multistage .col3 {
    width: 20%;
}
.table.multistage .col4 {
    width: 20%;
}

/* BUTTON */
.btn-group-wrapper {
    overflow:hidden; 
    display:block;
    background:url(../images/bg_lines.gif) repeat 0 0 transparent;
    padding:8px;
}

.btn {
    font-size:1em;
    transition: all 0.5s ease;
}
.input-group .btn {
    font-size: 14px;
}

.btn-default:hover, 
.btn-default:focus, 
.btn-default:active, 
.btn-default.active, 
.open > .dropdown-toggle.btn-default {
    background-color:#ccc;
    border-color:#ccc;
}
.btn.btn-close {
    background-color:#c8563a;
    color:#fff;
}

.btn-danger {background-color: #c8563a;}
.btn-danger:hover, 
.btn-danger:focus, 
.btn-danger:active, 
.btn-danger.active, 
.open > .dropdown-toggle.btn-danger {
    background-color: #C63B18;
}

.btn .glyphicon {margin-right:7px;}
.input-group .btn .glyphicon {
    margin-right: 0px;
}

.btn-group .btn + .btn, 
.btn-group .btn + .btn-group, 
.btn-group .btn-group + .btn, 
.btn-group .btn-group + .btn-group {margin-left:0;}

.btn-group .btn-default {
    border-color:transparent;
    background-color:#3ac8a9;
    color:#fff;
    transition:all 0.5s ease 0s;
}
.btn-group > .btn:last-child:not(:first-child), 
.btn-group > .dropdown-toggle:not(:first-child) {
    border-left-color: #2BAF92; 
}

.btn-group .btn-default[disabled] {
  border-color: #2BAF92;
  background-color:#3ac8a9;
  text-color:#fff;
  opacity: 65%;
  transition:all 0.5s ease 0s;
}

/* FORM */
.form-control {
    font-size:13px; 
    font-weight:normal;
}
.form-control:focus {
    border-color: #3ac8a9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(58, 200, 169, 0.6);
    outline: 0 none;
}

select {border:1px solid #ccc;}

/* TABS */
.nav-tabs {border:none;}
.nav-tabs li a {
    color:#999; 
    transition:all 0.5s ease 0s; 
    border:none;
}
.nav-tabs li a:hover {color:#333;}

.nav-tabs > li > a {
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    padding:5px 30px 5px 22px;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
    color:#fff;
    font-weight:normal;
    background:url("../images/bg_y.png") repeat scroll 100% 0 transparent;
    border:none;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {background:none; color:#b78718;}

/* PAGINATION */
.pagination {
    padding-right:20px;
    background:url(../images/bg_y.png) repeat 100% 0 transparent;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
}
.pagination.page-count {
    background:url(../images/bg_pagination_counter.png) no-repeat 0 1px transparent;
    padding:0 11px;
    
}
.pagination + .pagination.page-count {margin-left:-11px;}
.pagination > li > a, 
.pagination > li > span {
    background-color:transparent;
    color:#fff;
    border:none;
    transition: all 0.5s ease;
}
.pagination > li > a:hover, 
.pagination > li > span:hover, 
.pagination > li > a:focus, 
.pagination > li > span:focus {
    background-color: #c19020;
    color: #fff;
}
.pagination.page-count > li > a:hover, 
.pagination.page-count > li > span:hover, 
.pagination.page-count > li > a:focus, 
.pagination.page-count > li > span:focus {
    background-color: #dda931;
}
.pagination > .disabled > span, 
.pagination > .disabled > span:hover, 
.pagination > .disabled > span:focus, 
.pagination > .disabled > a, 
.pagination > .disabled > a:hover, 
.pagination > .disabled > a:focus,
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus {
    background-color:transparent;
    color:#fff;
}
.pagination > li:first-child > a, 
.pagination > li:first-child > span,
.pagination > li:last-child > a, 
.pagination > li:last-child > span {
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
}

.pagination a.current {
    border-color: #c19020;
    background-color: #c19020;
    border-width: 1px;
    box-shadow: 1px 1px #A37A1B inset;
}

.pagination a.current :

/* MODAL */
.modal-footer {
    overflow:hidden; 
    border-top:none;
    padding:8px;
    margin:15px;
    background:url(../images/bg_lines.gif) repeat 0 0 transparent;
}

.modal-body {
    padding:10px 30px;
}

.modal-header {border:none;}
.modal-header h3 {
    background: url(../images/bg_modal_header.png) no-repeat scroll 100% 0 #3ac8a9;
    color: #fff;
    font-size: 1.7em;
    margin: 0;
    padding: 20px 12px;   
}
.error-modal .modal-header h3 {background-color:#c8563a;}
.error-modal .modal-header h3:before {
    background: url(../images/icon_error.png) no-repeat scroll 0 0 transparent;
    width:29px; height:27px;
    line-height:27px;
    display:inline-block;
    content:"";
    margin-right:15px;
    vertical-align:top;
}

.modal-body ul {
    list-style:none;
    padding:0;
}
.modal-body > ul:nth-child(2n+1) {
    background-color:#f4f4f4;
    padding:0 15px;
    margin:0 -15px 10px;
}
/* override whats below for tabs in modal-body */
.modal-body ul.nav-tabs li {
  background: none;
  clear: none;
}
.modal-body ul li {
    background: url(../images/bg_dotted.gif) repeat-x scroll 0 0 transparent;
    padding:10px;
    overflow:hidden;
    clear:both;
}
.modal-body ul li:first-child {background:none;}
.modal-body > ul > li > label,  .modal-body > div > ul > li > label{float:left; width:25%; margin:0; vertical-align:top;}
.modal-body > ul > li > span, .modal-body > ul > li > div, .modal-body > div > ul > li > span {float:right; width:73%;}
.modal-body > span.collapse-trigger {font-weight: bold; cursor: pointer;}
.modal-body ul li .btn {margin-right:-9px;}
.datepicker-modal ul li .btn {
    margin-right : 0px;
}

.datepicker-modal .form-group > label,
.datepicker-modal .form-group > div,
.modal-sm .form-group > label,
.modal-sm .form-group > div {
    float: none;
    width : auto;
}

.datepicker-modal .well {
    margin-bottom: 0px;
    dispaly: inline-block;
}

.datepicker-modal .form-group {
    overflow : visible;
}




/* OLD */

#wrap {
    min-height: 100%;
}

#main {
    padding-bottom: 40px;
    padding-top: 20px;
}

#footer {
    margin-top: -72px;
}

.proposals.table .col1 {
    width: 40%;
}

.proposals.table .col2 {
    width: 15%;
}

.proposals.table .col3 {
    width: 15%;
}

.proposals.table .col4 {
    width: 15%;
}

.proposals.table .col5 {
    width: 15%;
    text-align: center;
}

.segments.table {
    margin-bottom: 0px;
}

.segments.table .col1 {
    width: 30%;
}

.segments.table .col2 {
    width: 14%;
}

.segments.table .col3 {
    width: 14%;
}

.segments.table .col4 {
    width: 14%;
}

.segments.table .col5 {
    width: 14%;
}

.segments.table .col6 {
    width: 14%;
    text-align: center;
}

.segments-panel {
    margin-bottom: 0px;
}

.segments-panel.panel-danger {
    border-color: #a94442;
}

.segment-variables.table .col1 {
  width: 15%;
}

.segment-variables.table .col2 {
  width: 15%;
}

.segment-variables.table .col3 {
  width: 10%;
}

.segment-variables.table .col4 {
  width: 12%;
}

.segment-variables.table .col5 {
  width: 13%;
}

.segment-variables.table .col6 {
  width: 10%;
}

.segment-variables.table .col6 .form-control {
  width: 100%;
}

.segment-variables.table .col7 {
    width: 25%;
    text-align: center;
}

.variables.table .col6 {
  width: 14%;
  text-align: center;
}

.campaign-types.table .col1 {
  width: 25%;
}

.campaign-types.table .col2 {
  width: 25%;
}

.campaign-types.table .col3 {
  width: 9%;
}

.campaign-types.table .col4 {
  width: 9%;
}

.campaign-types.table .col5 {
  width: 9%;
}

.campaign-types.table .col6 {
    width: 14%;
  text-align: center;
}

.campaign-details.table .col1 {
     width: 30%;
}

.campaign-details.table .col2 {
   width: 30%;
}

.campaign-details.table .col3 {
   width: 26%;
}

.campaign-details.table .col4 {
    width: 14%;
  text-align: center;
}

.campaign-predecessors.table .col1 {
    width: 60%;
}

.campaign-predecessors.table .col2 {
    width: 26%;
}

.campaign-predecessors.table .col3 {
    width: 14%;
  text-align: center;
}

table.segment-groups tr {
    cursor: pointer;
}

table.segment-groups {
    margin-bottom: 0px;
}

.segment-groups td.invalid-group {
    color: #a94442;
    font-weight: normal;
    border-top: none;
    padding-top: 0px;
}

.segment-groups .group-header {
    font-weight: bold;
    color: #3ac8a9;
}

.segment-groups .col2{
    width: 40%;
    text-align: center;
}

.channels.table .col2 {
    width: 14%;
    text-align: center;
}

.contacts.table .col1 {
    width: 43%
}

.contacts.table .col2 {
    width: 43%
}

.contacts.table .col3 {
    width: 14%;
    text-align: center;
}

.execution-teams.table .col1 {
  width: 25%
}

.execution-teams.table .col2 {
  width: 31%
}

.execution-teams.table .col3 {
  width: 30%
}

.execution-teams.table .col4 {
    width: 14%;
  text-align: center;
}

.dynamics-ordering.table tbody tr {
    cursor : move;
}

.dynamics-ordering.table .col1 {
    width: 22%;
}

.dynamics-ordering.table .col2 {
  width: 18%;
}

.dynamics-ordering.table .col3 {
  width: 22%;
}

.dynamics-ordering.table .col4 {
  width: 22%;
}

.dynamics-ordering.table .col5 {
  width: 14%;
  text-align: center;
}

.engine-executions .col1 {
    width : 20%;
}

.engine-executions .col2 {
    width : 20%;
}

.engine-executions .col3 {
    width : 20%;
}

.engine-executions .col4 {
    width : 20%;
}

.engine-executions .col5 {
    width : 20%;
    text-align: center;
}

.campaign-executions .col1 {
    width : 10%;
}

.campaign-executions .col2 {
    width : 10%;
}

.campaign-executions .col3 {
    width : 10%;
}

.campaign-executions .col4 {
    width : 10%;
}

.campaign-executions .col5 {
    width : 10%;
}

.campaign-executions .col6 {
    width : 10%;
}

.campaign-executions .col7 {
    width : 10%;
}

.campaign-executions .col8 {
    width : 10%;
}

.campaign-executions .col9 {
    width : 8%;
}

.campaign-executions .col10 {
    text-align: center;
}

.tasks .col1 {
    width : 8%;
}

.tasks .col2 {
    width : 10%;
}

.tasks .col3 {
    width : 10%;
}

.tasks .col4 {
    width : 10%;
}

.tasks .col5 {
    width : 12%;
}

.tasks .col6 {
    width : 12%;
}

.tasks .col7 {
    width : 10%;
}

.tasks .col8 {
    width : 20%;
}

.tasks .col9 {
    width : 10%;
    text-align: center;
}

.btn-table {
    width: 8em;
}

.tab-content .panel-default {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.ace_editor {
    border: solid 1px #ccc;
    border-radius: 4px;
    margin-bottom: 0;
}

.sql-segment.ace_editor {
    height: 200px;
}

.message-subject.ace_editor {
    height: 50px;
}

.message-body.ace_editor {
    height: 200px;
}

.fileinput-button {
    margin-bottom: 20px;
}

.dynamics.table tr {
    cursor: pointer;
}

.dynamics .col1, .dynamics .col2, .dynamics .col3, .dynamics .col4 {
    width: 25%;
}

.campaign-config .cm-left, .campaign-config .col-md-12 {
    padding-left: 0px;
    padding-right: 0px;
}

.campaign-config .cm-right {
    padding-right: 0px;
}

.manage .table {
    margin-bottom: 0px;
}


.btn-var-details {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.chart-filters.form-inline .form-group label {
    vertical-align: top;
}

.chart-filters.form-inline .hint {
    padding: 6px;
}

th.filter .btn {
    padding: 7px 12px;
}

.panel-body g.nv-x.nv-axis g.tick text.time-past {
    fill: #333;
}

.panel-body g.nv-x.nv-axis g.tick text.time-future {
    fill: #AAA;
}