<div class="col-md-12 text-center" xmlns:ng="http://angularjs.org/">
  <div class="alert alert-danger">
    <span ng:repeat-start="line in errorMessage">{{line}}</span> <br ng:repeat-end ng:if="!$last" />
  </div>
</div>
