<div xmlns:ng="http://angularjs.org" xmlns:cm="http://caltha.pl/cm">
  <div class="modal-header">
    <h3>An error has occured</h3>
  </div>
  <div class="modal-body" ng:form="form">
    <p>{{errorMessage}}</p>
  </div>
  <div class="modal-footer">
    <div class="btn-group pull-right">
      <button type="submit" class="btn btn-close" ng:click="$close()">
        <span class="glyphicon glyphicon-remove"></span> Dismiss
      </button>
    </div>
  </div>
</div>