<ul class="nav navbar-nav" xmlns:ng="http://angularjs.org/" xmlns:ui="http://angularjs.org/ui">
  <li ng:class="{'active' : state.includes('products')}"><a ui:sref="products.manage"
    ui:sref-opts="{reload : true}">Produkty</a></li>
  <li ng:class="{'active' : state.includes('zaps')}"><a ui:sref="zaps.manage"
    ui:sref-opts="{reload : true}">Zapytania ofertowe</a></li>
  <li ng:class="{'active' : state.includes('ofe')}"><a ui:sref="ofe.manage"
    ui:sref-opts="{reload : true}">Oferty</a></li>
  <li ng:class="{'active' : state.includes('zam')}"><a ui:sref="zam.manage"
    ui:sref-opts="{reload : true}">Zamowienia</a></li>
</ul>

