
<div xmlns="http://angularjs.org/" class="project-content">
	<form class="" role="form">
		<accordion close-others="true"> <accordion-group
			ng-init="isFirstOpen=true" heading="Dane zapytania"
			is-open="isFirstOpen">
		<div class="form-group">
			<label class="control-label" for="skladajacy">Skladajacy</label> <input
				class="form-control" ng-model="zapytanie.skladajacy" type="text"
				id="skladajacy">
		</div>
		<div class="form-group">
			<label class="control-label" for="telefonSkladajacego">Telefon
				skladajacego:</label> <input class="form-control"
				ng-model="zapytanie.telefonSkladajacego" type="text"
				id="telefonSkladajacego">
		</div>
		<div class="form-group">
			<label class="control-label" for="terminDostawy">Termin
				dostawy:</label>

			<p class="input-group" id="terminDostawy">
				<input type="text" class="form-control"
					datepicker-popup="{{format}}" ng-model="zapytanie.terminDostawy"
					is-open="opened" datepicker-options="dateOptions"
					date-disabled="disabled(date, mode)" ng-required="true"
					close-text="Close" /> <span class="input-group-btn">
					<button type="button" class="btn btn-default"
						ng-click="open($event)">
						<i class="glyphicon glyphicon-calendar"></i>
					</button>
				</span>
			</p>
			<br> <br> <br> <br> <br> <br> <br>
			<br> <br> <br> <br> <br> <br> <br>
			<br> <br> <br> <br>
		</div>
		<div class="form-group">
			<label class="control-label" for="typDostawy">Typ dostawy:</label> <select
				id="typDostawy" name="direction" ng:model="zapytanie.typDostawy"
				ng:options="typyDostawy.val as typyDostawy.val for typyDostawy in typyDostawy"
				class="form-control">
				<option value="">Wybierz</option>
			</select>
		</div>
		<div class="form-group">
			<label class="control-label" for="komentarz">Komentarz:</label> <input
				class="form-control" ng-model="zapytanie.komentarz" type="text"
				id="komentarz">
		</div>

		<div>
			<h3>Wybierz produkty</h3>
			<div class="form-group">
				<label class="control-label" for="typDostawy">Produkt:</label> <select
					id="typDostawy" name="direction" ng:model="wybrany.prod"
					ng:options="prods.id as prods.nazwa for prods in prods"
					class="form-control">
					<option value="">Wybierz produkt</option>
				</select> <label class="control-label" for="ilosc">Ilosc:</label> <input
					class="form-control" ng-model="wybrany.ilosc" type="text"
					id="ilosc"> <label class="control-label" for="kom">Komentarz:</label>
				<input class="form-control" ng-model="wybrany.kom" type="text"
					id="kom">
			</div>
			<button class="btn btn-warning btn-sm" ng-click="dodProd()"
				type="button">Dodaj produkt</button>

		</div>

		</accordion-group> <label class="control-label" for="produkty">Wybrane produkty:</label>
		<table>
			<tr>
				<td>Nazwa </td>
				<td>Ilosc </td>
				<td>Komentarz </td>
				<td></td>
			</tr>
			<tr ng:repeat="row in wyprods">
				<td data-title="'Nazwa'">{{row.produktNazwa}}</td>
				<td data-title="'Ilosc'">{{row.ilosc}}</td>
				<td data-title="'komentarz'">{{row.komentarz}}</td>
				<td data-title="''"><button ng-click="usun($index)"
						type="button" class="btn btn-danger">Usun</button></td>
			</tr>
		</table>

		<div class="panel panel-default">
			<!--<div class="panel-body"></div>-->
			<div class="panel-footer">
				<div class="btn-group">
					<button ng-click="cancel()" type="button" class="btn btn-default">Anuluj</button>
					<button ng-click="create()" type="button" class="btn btn-primary">Utworz
						zapytanie</button>
				</div>
			</div>
		</div>
		</accordion>
	</form>
</div>
