<div xmlns:ng="http://angularjs.org/" class="manage">
	<table class="definitions table" ng:table="table" template-pagination="nopager"
		data-show-filter="false">
		<tr ng:repeat="row in $data">
			<td data-title="'Nazwa'" 
				data-filter="{'nazwa' : 'text'}" data-header-class="col2" class="col2">{{row.nazwa}}</td>
			<td data-title="'Opis'" 
				data-filter="{'opis' : 'text'}" data-header-class="col3"
				class="col3">{{row.opis}}</td>
			<td data-title="'Jednostka'" 
				data-filter="{'jednostka' : 'text'}" data-header-class="col4"
				class="col4">{{row.jednostka}}</td>
			<td data-title="'Dostepnosc'" 
				data-filter="{'iloscNaSkladzie' : 'text'}" data-header-class="col5"
				class="col5">{{row.iloscNaSkladzie}}</td>
		</tr>
	</table>
</div>